{
  "env": {
    "development": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "modules": false,
            "targets": {
              "ie": "11"
            }
          }
        ]
      ]
    },
    "production": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "modules": false,
            "forceAllTransforms": true,
            "targets": {
              "ie": "11"
            }
          }
        ]
      ]
    }
  }
}
